body {
    background-image: linear-gradient(rgb(252, 131, 2), rgb(255, 255, 73));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   }

.to-eat {
    background-color: rgb(102, 249, 107);
    font-weight: 900;
    padding: 12px;
    clear: left;
    margin-top: 12px;
}

.customer {
    background-color: rgb(151, 195, 250);
    font-weight: 900;
    padding: 12px;
    clear: left;
    margin-top: 12px;
}

.toppings {
    background-color: white;
    padding: 6px;
}

.devour {
    color: blue;
    font-weight: "500"
}

.eat-it {
    background-color: rgb(179, 249, 182);
    margin-top: 12px;
}

.add-burger {
    padding-top: 20px;
}

.spacer {
    margin-top: 12px;
    margin-bottom: 12px;
}

/* not affecting index.handlebars */

.enter_section {
    background-image: linear-gradient(bottom, yellow, brown);
}

#enter-name {
    height: 50px;
}

#enter-topping {
    height: 80px;
}